.banner {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    background: url("../images/pokeballBanner.jpg");
    margin-top: 53px;
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: var(--transition);
    &::before {
        content: '';
        position: absolute;
        background: var(--slideBannerBG);
        height: 100%;
        width: 100%;
        z-index: 0;
        transition: var(--transition);
    }
    .bannerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    grid-gap: 0;
    padding: 4em 0 5em;
    z-index: 1;
    transition: var(--transition);
        p {
            margin: 0;
            font-weight: 600;
            transition: var(--transition);
        }
    }
}

.pageBanner {
    padding: 1em 0 0em !important;
}