@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
header {
  opacity: 0;
  border-bottom: 3px solid black;
  color: black !important;
  background: var(--main);
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 100%;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav i {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: black !important;
}

nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  margin: 0;
  color: black !important;
  height: 41%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .nav-link i {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .nav-link a {
  padding: 0 15px;
  margin: 0 15px;
  text-decoration: none;
  color: white !important;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .nav-link:hover {
  background: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .nav-link:hover a {
  border-right: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .nav-link:hover i {
  color: var(--main) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media (min-width: 1140px) {
  nav .desktop-menu-option.mobile-Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    place-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    margin: 0;
    color: black !important;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
}

@media (max-width: 992px) {
  nav {
    padding: 0px 0px;
    background: var(--main);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    z-index: 3;
    -webkit-backdrop-filter: blur(3px) !important;
            backdrop-filter: blur(3px) !important;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
}

a.nav-link.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1em;
  font-weight: 600;
  font-family: 'montserrat';
  color: white !important;
  margin-right: .7em;
  border-right: 3px solid black;
  text-transform: uppercase;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media (max-width: 992px) {
  a.nav-link.Home {
    padding-bottom: 1em;
  }
}

a.nav-link.Home:hover {
  background: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

a.nav-link.Home:hover .separator {
  border-right: 3px solid var(--main);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#socialLinksMain a,
#socialLinksContact a,
#socialLinksFooter a {
  color: white;
  font-size: 20px;
  border-radius: 100%;
  padding: 8px 3px 8px 7px !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links a {
  color: white;
  font-size: 20px;
  border-radius: 100%;
  padding: 5px 10px 4px 8px !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 100%;
  height: 50px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media (max-width: 992px) {
  .header {
    width: 102%;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
}

nav.scrolled {
  background: var(--secondary);
}

.desktop-menu-option.mobile-Menu div.nav-link {
  border-bottom: 3px solid black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.desktop-menu-option.mobile-Menu div.nav-link:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.75);
  border-color: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.mobile-menu {
  display: none !important;
}

.mobile-menu-option {
  padding-right: 15px;
  display: none;
}

@media (max-width: 1140px) {
  .mobile-menu-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu {
  font-size: 15px;
  padding: 0px 15px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.mobile-menu:hover {
  padding: 15px;
  cursor: pointer;
  background: white;
  color: #181a1b;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 3px solid black;
  border-left: 3px solid black;
  padding: 0px 15px 0px 15px;
  margin: 0px;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#menuToggle:hover {
  cursor: pointer;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 15px;
  margin: 0px;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#menuToggle span {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 0px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

#menuToggle:hover span:nth-child(2n) {
  background: var(--main);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#menuToggle span:first-child:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2):nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#openMenuToggler.clicked span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

#openMenuToggler.clicked:hover span {
  background: var(--main);
}

#openMenuToggler.clicked:hover span:nth-child(2n) {
  background: var(--main);
}

#openMenuToggler.clicked span:nth-last-child(2) {
  -webkit-transform: rotate(45deg) translate(-3px, -4px);
          transform: rotate(45deg) translate(-3px, -4px);
}

#openMenuToggler.clicked span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.openMenu {
  color: white;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.closeMenu {
  color: white;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.closeMenu:hover {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.desktop-menu-option {
  z-index: -5;
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -450%;
  left: 0;
  right: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: none;
}

.desktop-menu-option .nav-link {
  z-index: -5;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  padding: 0;
}

.desktop-menu-option .nav-link a {
  z-index: -5;
  border-right: none;
  border-left: none;
  padding: 15px;
  display: block;
  margin: 0;
}

.desktop-menu-option.open-mobile-menu {
  width: 100%;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: -5;
  padding: 0;
  margin: 0.0189em 0 0 0;
  -webkit-animation: fadeIn var(--transition);
          animation: fadeIn var(--transition);
  -webkit-backdrop-filter: blur(3px) !important;
          backdrop-filter: blur(3px) !important;
  background: rgba(167, 167, 167, 0.9) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.desktop-menu-option.open-mobile-menu .nav-link {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.desktop-menu-option.open-mobile-menu .nav-link a {
  border-right: none;
  border-left: none;
  padding: 30px;
  display: block;
  margin: 0;
  z-index: -5;
  width: 100%;
}

.innerSocialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.innerSocialLinks a {
  width: 2% !important;
}

.mainNavLink {
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

.mainNavLink .aboutLink {
  padding: 5px 9px !important;
}

/* Mobile Menu+ */
@media screen and (max-width: 1500px) {
  .header,
  #Projects .header {
    text-align: center;
    margin: 0 auto;
    -webkit-transition: 0.15s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: 0.15s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #socialLinksMain {
    display: none;
  }
  #socialLinksContact {
    width: 30%;
  }
}

@media screen and (max-width: 1489px) {
  #socialLinksContact {
    width: 100%;
    padding-top: 90px;
  }
}

@media screen and (min-width: 1499px) {
  .opening-header {
    padding: 85px 55px 30px;
    text-align: right;
  }
  .opening-header::before {
    content: "";
    height: 0px;
    background: teal;
    border-right: 4px inset teal;
    border-top: 4px inset teal;
    border-bottom: 4px inset #001f14;
    width: 40%;
    position: absolute;
    left: 0%;
    top: 127px;
  }
}

/* Social Links */
@media screen and (min-width: 1235px) {
  #socialLinksMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1235px) {
  .desktop-menu-option.open-mobile-menu {
    margin: 0.2em 0px 0 -5px;
    width: 101%;
  }
}

@media screen and (min-width: 1280px) {
  #socialLinksMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0%;
        -ms-flex: 0%;
            flex: 0%;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media screen and (max-width: 1280px) {
  #socialLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    width: 100%;
  }
}

/* iPhone and iPad */
@media screen and (max-width: 768px) {
  .opening-header {
    font-size: 45px;
  }
}

/* iPhone */
@media screen and (max-width: 667px) {
  .opening-header {
    font-size: 36px;
  }
}

/* Smaller Screens */
@media screen and (max-width: 520px) {
  .opening-header {
    font-size: 22px;
  }
}

.social-with-text a {
  font-size: 20px;
  padding: 5px 9px !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-with-text .fa {
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 5px 9px !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .linkedInLink:hover {
  padding: 5px 9px 4px 8px !important;
  color: white;
  background: #0a66c2;
  font-size: 20px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .piratechsLink:hover {
  padding: 5px 9px 4px 8px !important;
  color: white;
  background: #2b4261;
  font-size: 20px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .githubLink:hover {
  font-size: 20px;
  background: black;
  padding: 5px 9px 4px 8px !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .githubLink:hover i {
  color: var(--main) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .instagramLink:hover {
  padding: 5px 9px 4px 8px !important;
  color: white;
  background: #88205b;
  font-size: 20px;
  font-weight: 600 !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .emailLink:hover {
  padding: 5px 9px 4px 8px !important;
  background: white;
  font-size: 20px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links .emailLink:hover i {
  color: var(--main) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-links {
  display: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.desktop-menu-option.mobile-Menu.open-mobile-menu .nav-link:hover i {
  color: var(--main) !important;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.registration form {
  max-width: 452px;
}

.registration .registrationButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.registration .registrationButtons a {
  line-height: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0.4em;
  width: auto;
  padding: 0 15px;
  margin: 0 15px;
  text-decoration: none;
  color: white !important;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-right: 3px solid black;
  border-left: 3px solid black;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.registration .registrationButtons a:hover {
  padding: 15px 15px 15.8px;
  background: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.registration .registrationButtons a:hover i {
  color: var(--main) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media (max-width: 1140px) {
  .registration {
    display: none;
  }
}

@media (max-width: 1140px) {
  .mobileRegistration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logoutButton:hover {
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

form input {
  background: white;
  border: 3px solid black;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: black;
  width: 100%;
  text-transform: capitalize;
  font-family: 'montserrat';
  font-weight: 600;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

form input::-webkit-input-placeholder {
  color: var(--secondary);
  font-family: 'montserrat';
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

form input:-ms-input-placeholder {
  color: var(--secondary);
  font-family: 'montserrat';
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

form input::-ms-input-placeholder {
  color: var(--secondary);
  font-family: 'montserrat';
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

form input::placeholder {
  color: var(--secondary);
  font-family: 'montserrat';
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.searchFilter {
  opacity: 0;
  width: 90%;
  min-width: 90%;
  padding: 0.5em 0 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchFilter .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#footer-text {
  text-transform: uppercase;
}

footer {
  opacity: 0;
  background: var(--main);
  color: black;
  font-family: "Montserrat" !important;
  height: 40px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600 !important;
  font-size: 1.1em;
  grid-gap: 0px;
  z-index: 1;
  position: relative;
  bottom: 0;
  width: 100% !important;
  border-top: 3px solid black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

footer .innerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

footer a {
  color: black !important;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 600 !important;
}

footer i,
.vertical-sep {
  color: white;
}

/* Montserrat */
/* Caveat */
/* 
    // --grass: #72902a;
    --grass: #00cf40;
  */
:root {
  --main: #18b17f;
  --silver: #c5c5c5;
  --secondary: #a7a7a7;
  --transition: 0.15s cubic-bezier(0.77, 0.2, 0.05, 1);
  --bg: black;
  --grass: #00cf40;
  --poison: #633071;
  --fire: #c50c0c;
  --water: #1a7ebf;
  --flying: linear-gradient(rgb(13, 130, 164) 50%, rgb(63, 68, 71) 50%);
  --bug: #6ecf00;
  --normal: #484e51;
  --poison: #633071;
  --ghost: #4e13ad;
  --electric: #d7bb36;
  --ground: linear-gradient(rgb(164, 143, 7) 50%, rgb(137, 122, 53) 50%);
  --fairy: #ff81d9;
  --fighting: #aa521c;
  --psychic: #d70a82;
  --rock: #6c5d13;
  --steel: #4b8487;
  --ice: #73cce7;
  --dark: #616161;
  --dragon: linear-gradient(rgb(40, 107, 143) 50%, rgb(148, 33, 12) 50%);
  --mobileBreakPoint: 530px;
}

.grass {
  background: var(--grass);
}

.poison {
  background: var(--poison);
}

.fire {
  background: var(--fire);
}

.water {
  background: var(--water);
}

.flying {
  background: var(--flying);
}

.bug {
  background: var(--bug);
}

.normal {
  background: var(--normal);
}

.poison {
  background: var(--poison);
}

.ghost {
  background: var(--ghost);
}

.electric {
  background: var(--electric);
}

.ground {
  background: var(--ground);
}

.fairy {
  background: var(--fairy);
}

.fighting {
  background: var(--fighting);
}

.psychic {
  background: var(--psychic);
}

.rock {
  background: var(--rock);
}

.steel {
  background: var(--steel);
}

.ice {
  background: var(--ice);
}

.dark {
  background: var(--dark);
}

.dragon {
  background: var(--dragon);
}

body {
  margin: 0;
  font-family: "Montserrat" !important;
  background: var(--secondary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

::-moz-selection {
  background: var(--main);
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

::selection {
  background: var(--main);
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

a {
  color: var(--main) !important;
  font-family: "Montserrat";
  text-decoration: none;
}

.separator {
  color: transparent;
  font-size: 1em;
  line-height: 1em;
  border-right: 3px solid black;
  height: 100%;
  margin: 0 -0.5em 0 -0.8em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.pokeData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.pokeData:hover {
  cursor: pointer;
}

.pokePic {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.defaultPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
}

.shinyPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
}

.shiny .pokeID {
  background: black !important;
}

.shiny .stats {
  color: white !important;
}

.shiny .registerPokemon button {
  background: white !important;
  color: black !important;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.descriptions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description, .altDescription {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 240px;
  height: 100%;
  font-size: .95em;
  font-weight: 600;
}

.description {
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em 0;
  min-height: 78.3vh;
}

.pokedex {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1em;
}

.pokedex .pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-width: 480px;
  min-height: 480px;
  position: relative;
  border-radius: 25px !important;
  border: 3px solid black !important;
  padding-bottom: 2em;
}

.pokedex .pokemon .pokeID {
  position: absolute;
  top: 0px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-size: 15em;
  color: rgba(255, 255, 255, 0.38);
  background: var(--main);
  z-index: 0;
  cursor: pointer;
  border-radius: 22px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.pokedex .pokemon .pokeIndex {
  position: absolute;
  top: 0px;
  left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 100%;
  width: 100%;
  font-size: 3em;
  color: black;
  background: transparent;
  z-index: 0;
  cursor: pointer;
  border-radius: 22px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.pokedex .pokemon .statsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5em;
  position: relative;
  bottom: 0px;
}

.pokedex .pokemon .statsRow .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.84em;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  color: black;
  pointer-events: none;
  grid-gap: 1em;
}

.pokedex .pokemon .statsRow .stats .stat {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.pokedex .pokemon .pokeImage {
  width: 160px;
  height: 118px;
  background-repeat: no-repeat !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: 50% 120% !important;
  overflow: visible !important;
}

.pokedex .pokemon .pokeName {
  text-transform: capitalize !important;
  font-size: 0.9em;
  font-weight: 600;
  color: black;
  background: white;
  text-align: center;
  padding: 0.2em 1em;
  width: 71%;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 10px;
  pointer-events: none;
}

.pokedex .pokemon .pokeName mark {
  background: var(--main);
  text-transform: capitalize !important;
}

.types {
  font-size: 0.85em;
  z-index: 1;
  position: relative;
  top: -10px;
  color: white !important;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 1em;
  width: 75%;
  margin-top: 11em;
  pointer-events: none;
}

.types .type {
  font-family: "Flexo-Medium", arial, sans-serif;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  line-height: 18px;
  max-width: 110px;
  font-size: 0.8em;
  letter-spacing: .1em;
  font-weight: 600 !important;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.types .type.single {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative !important;
  top: 0px !important;
}

.registerPokemon {
  width: 71%;
  margin: 0 auto;
  z-index: 1;
}

.registerPokemon button {
  color: white !important;
  background: black;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.2em 0;
  border-radius: 25px;
}

.registerPokemon button:hover {
  cursor: pointer;
}

.multiple .pokeName {
  top: 35px;
}

::-webkit-input-placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

:-ms-input-placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

::-ms-input-placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

::placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

::-webkit-scrollbar {
  width: 10px;
  background: black;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: white;
  border-radius: 0px;
}

.pokemon :not(.pokeID):not(.registerPokemon):not(.registerPokemon button) {
  pointer-events: none;
}

.pokePic div {
  background-size: 150px !important;
  background-position: 50% 55% !important;
}

@media (max-width: 1670px) and (min-width: 1515px) {
  .pokedex {
    width: 100% !important;
  }
}

@media (max-width: 530px) {
  .searchFilter {
    width: 75%;
    min-width: 75%;
    font-size: 1.3em;
    padding-bottom: 2em;
  }
  .pokedex {
    grid-gap: 0em;
  }
  .pokedex .pokemon {
    margin: -1em auto 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  footer {
    font-size: .85em;
  }
}

@media (max-width: 485px) {
  header {
    width: 103% !important;
  }
  header nav {
    width: 103%;
  }
  header nav #mobile-menu-option {
    margin: 0em 1em;
  }
  .searchFilter {
    width: 60%;
    min-width: 60%;
    font-size: 1.1em;
  }
  .pokedex .pokemon {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin: -4.5em auto -8em -10px;
  }
  .pokedex .pokemon .pokeName {
    font-size: 1.3em;
  }
  .pokedex .pokemon .stat {
    font-size: 1.3em;
    position: relative;
    top: 25px;
  }
  .pokedex .pokemon .single .stats {
    margin: 0em auto -4em !important;
  }
  .pokedex .pokemon .multiple .stats {
    margin-bottom: -2em !important;
  }
  .pokedex .pokemon .multiple .types {
    margin-top: 8em !important;
    width: 80% !important;
  }
  .pokedex .pokemon .single .types {
    margin-top: 12em;
  }
  .pokedex .pokemon .type {
    font-size: 1.2em;
    line-height: 28px;
    top: 20px !important;
  }
  .pokedex .pokemon .type.single {
    top: 20px !important;
  }
  .pokedex .pokemon .description, .pokedex .pokemon .altDescription {
    max-width: 320px;
    padding: 1em 0 1em;
    font-size: 1.5em;
    font-weight: 600;
  }
  .pokedex .pokemon .registerPokemon button {
    font-size: 1.2em;
    padding: .3em 0;
  }
  footer .innerFooter {
    width: 85%;
  }
}

/* iPhone SE */
@media only screen and (max-width: 480px) {
  body {
    width: 100vw;
  }
}

@media (max-width: 415px) {
  header {
    width: 103% !important;
  }
  header nav {
    width: 103%;
  }
  header nav a.nav-link.Home {
    font-size: .75em;
    padding: 18px 15px;
    border-width: 2.9px;
  }
  header nav #mobile-menu-option {
    margin: 0em 0.1em;
  }
  header nav #mobile-menu-option #menuToggle {
    margin: 0 0.28em;
    border-width: 2px;
  }
  header nav #mobile-menu-option #menuToggle span {
    height: 2px;
  }
  header nav #mobile-menu-option #menuToggle:hover {
    padding: 15px;
  }
  header nav #mobile-menu-option .desktop-menu-option.open-mobile-menu {
    margin: 0.1em 0px 0px -5px;
  }
  header nav #mobile-menu-option .desktop-menu-option.open-mobile-menu div {
    border-width: 2px;
  }
  footer {
    border-width: 2px;
  }
}
/*# sourceMappingURL=index.css.map */