@import "../../components/Header/styles/header";
@import "../../components/Footer/styles/footer";

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Caveat */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

:root {
  --main: #18b17f;
  --silver: #c5c5c5;
  --secondary: #a7a7a7;
  --transition: 0.15s cubic-bezier(0.77, 0.2, 0.05, 1);
  --bg: black;
  // --grass: #72902a;
  --grass: #08cb5e;
  --poison: #633071;
  // --fire: #b64c02;
  --fire: #c50c0c;
  // --water: #306e96;
  --water: #1a7ebf;
  --flying: linear-gradient(rgb(13, 130, 164) 50%, rgb(63, 68, 71) 50%);
  // --bug: #5b7f32;
  --bug: #6ecf00;
  --normal: #484e51;
  --poison: #633071;
  // --ghost: #5e4a7e;
  --ghost: #4e13ad;
  // --electric: #a8930e;
  --electric: #e7c90e;
  --ground: linear-gradient(rgb(164, 143, 7) 50%, rgb(137, 122, 53) 50%);
  // --fairy: #5c0341;
  --fairy: #ff81d9;
  --fighting: #aa521c;
  // --psychic: #8b0b56;
  --psychic: #d70a82;
  // --rock: #82701a;
  --rock: #6c5d13;
  // --steel: #405758;
  --steel: #4b8487;
  // --ice: #157795;
  --ice: #73cce7;
  // --dark: #545b5f;
  --dark: #616161;
  --dragon: linear-gradient(rgb(40, 107, 143) 50%, rgb(148, 33, 12) 50%);
}

.grass {
  background: var(--grass);
}
.poison {
  background: var(--poison);
}
.fire {
  background: var(--fire);
}
.water {
  background: var(--water);
}
.flying {
  background: var(--flying);
}
.bug {
  background: var(--bug);
}
.normal {
  background: var(--normal);
}
.poison {
  background: var(--poison);
}
.ghost {
  background: var(--ghost);
}
.electric {
  background: var(--electric);
}
.ground {
  background: var(--ground);
}
.fairy {
  background: var(--fairy);
}
.fighting {
  background: var(--fighting);
}
.psychic {
  background: var(--psychic);
}
.rock {
  background: var(--rock);
}
.steel {
  background: var(--steel);
}
.ice {
  background: var(--ice);
}
.dark {
  background: var(--dark);
}
.dragon {
  background: var(--dragon);
}

body {
  margin: 0;
  font-family: "Montserrat" !important;
  background: var(--secondary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: var(--main) !important;
  font-family: "Montserrat";
  text-decoration: none;
}

.pokeData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.pokePic {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}

.defaultPic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  flex-direction: column;
  border-radius: 15px;
}
.shinyPic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  flex-direction: column;
  border-radius: 15px;
}

.shiny {
  .pokeID {
    background: black !important;
  }
  .stats {
    color: white !important;
  }

  .registerPokemon {
    button {
      background: white !important;
      color: black !important;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.descriptions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description, .altDescription {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 240px;
  height: 100%;
  font-size: .95em;
  font-weight: 600;
}

.description {
  color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 0;
}

.pokedex {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  .pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 460px;
    min-height: 360px;
    position: relative;
    border-radius: 20px !important;
    border: 3px solid black !important;
    padding-bottom: 2em;
    .pokeID {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 10em;
      color: rgba(255, 255, 255, 0.38);
      background: var(--main);
      z-index: -1;
      border-radius: 16px;
      transition: var(--transition);
    }
    .statsRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 3em;
      position: relative;
      bottom: -56px;
      .stats {
        display: flex;
        flex-direction: column;
        font-size: 0.84em;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: black;
        pointer-events: none;
        .stat {
          width: 100%;
          text-align: center;
          font-weight: 600;
        }
      }
    }
    .pokeImage {
      width: 160px;
      height: 118px;
      background-repeat: no-repeat !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: 50% 120% !important;
      overflow: visible !important;
    }
    .pokeName {
      text-transform: capitalize !important;
      font-size: 0.9em;
      font-weight: 600;
      color: black;
      background: white;
      text-align: center;
      padding: 0.2em 1em;
      width: 71%;
      margin: 0 auto;
      border-radius: 7px;
      position: relative;
      top: 10px;
      pointer-events: none;
      mark {
        background: var(--main);
        text-transform: capitalize !important;
      }
    }
  }
}

.single .statsRow {
  bottom: -65px !important;
}

.types {
  font-size: 0.85em;
  z-index: 0;
  position: relative;
  top: -10px;
  color: white !important;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1em;
  width: 75%;
  margin-top: 5em;
  .type {
    font-family: "Flexo-Medium", arial, sans-serif;
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 7px;
    line-height: 18px;
    max-width: 110px;
    font-size: 0.8em;
    font-weight: 600;
    pointer-events: none;
  }

  .type.single {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative !important;
    top: -145px !important;
  }

  .registerPokemon {
    width: 71%;
    margin: 0 auto;
  }
  button {
    color: white !important;
    background: black;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.2em 0;
    border-radius: 7px;
    &:hover {
      cursor: pointer;
    }
  }
}

.multiple .pokeName {
  top: 35px;
}

::placeholder {
  font-family: "Montserrat";
  color: var(--secondary);
  letter-spacing: 1.8;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: var(--main);
  border-radius: 0px;
}

/* iPhone SE */
@media only screen and (max-width: 480px) {
  body {
    width: 100vw;
  }
}
