// Footer Styling

#footer-text {
  text-transform: uppercase;
}

footer {
  opacity: 0;
  background: var(--main);
  color: black;
  font-family: "Montserrat" !important;
  height: 40px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  font-weight: 600 !important;
  font-size: 1.1em;
  grid-gap: 0px;
  z-index: 1;
  position: relative;
  bottom: 0;
  width: 100% !important;
  border-top: 3px solid black;
  transition: var(--transition);
  .innerFooter {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
  }
  a {
    color: black !important;
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 600 !important;
  }
}

footer i,
.vertical-sep {
  color: white;
}
